@model List<CustomerBook.Models.Customers>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Müşteriler</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <table class="table table-bordered table-responsive table-striped">
        <thead>
            <tr>
                <th>Müşteri No</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Doğum Tarihi</th>
                <th>E-Posta</th>
                <th>Fotoğraf</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Birthday.Value.ToShortDateString()</td>
                    <td>@item.Email</td>
                    <td><img src="@item.ImagePath" width="100" height="100" /></td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@Url.Action("Logout","Home")">Çıkış Yap</a>
</body>
</html>